In [28]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 0695-0DCC

 Directory of c:\

26-04-2022  20:05            12,288 DumpStack.log
09-02-2023  13:11    <DIR>          edb
24-01-2022  20:16    <DIR>          hpswsetup
07-05-2022  10:54    <DIR>          PerfLogs
23-02-2023  09:47    <DIR>          Program Files
09-04-2023  21:24    <DIR>          Program Files (x86)
06-04-2023  20:43    <DIR>          project
12-10-2022  23:50    <DIR>          SWSetup
09-02-2023  13:32    <DIR>          Users
18-04-2023  22:33    <DIR>          Windows
               1 File(s)         12,288 bytes
               9 Dir(s)  43,899,203,584 bytes free

In [30]:
cd project

c:\project

In [37]:
cd credit_card_fault

c:\project\credit_card_fault

In [38]:
import os
import sys
from pathlib import Path

In [39]:
#os.chdir("..")
os.getcwd()

'c:\\project\\credit_card_fault'

In [40]:
ROOT_DIR = os.getcwd()  # to get current working directory

# config constants
CONFIG_DIR = os.path.join(ROOT_DIR, "configs")
CONFIG_FILE_NAME = "config.yaml"
CONFIG_FILE_PATH = os.path.join(CONFIG_DIR, CONFIG_FILE_NAME)
print(CONFIG_FILE_PATH)

c:\project\credit_card_fault\configs\config.yaml

In [9]:
SCHEMA_FILE_NAME = "schema.yaml"
SCHEMA_FILE_PATH = os.path.join(CONFIG_DIR,SCHEMA_FILE_NAME)
print(SCHEMA_FILE_PATH)

c:\project\configs\schema.yaml

In [10]:
from creditcard.logger import *

In [11]:
# the kernel u were using base

In [12]:
#try now ok
from creditcard.entity import *

In [13]:
from creditcard.utils import read_yaml,create_directories

In [14]:
from creditcard.config import *

In [41]:
config_info = read_yaml(path_to_yaml = Path(CONFIG_FILE_PATH))

2023-04-24 20:57:35.353 | INFO     | creditcard.utils.common:read_yaml:34 - yaml file: c:\project\credit_card_fault\configs\config.yaml loaded successfully

In [42]:
pipeline_config = config_info.training_pipeline_config
print(pipeline_config)

{'artifact_dir': 'artifact', 'experiment_code': 'Development', 'pipeline_name': 'CreditCard', 'random_state': 1961}

In [43]:
artifact_dir = os.path.join(ROOT_DIR,pipeline_config.artifact_dir)

In [44]:
print(artifact_dir)

c:\project\credit_card_fault\artifact

In [45]:
experiment_code = os.path.join(ROOT_DIR,pipeline_config.experiment_code)
print(experiment_code)

c:\project\credit_card_fault\Development

In [46]:
data_validation_config_info = config_info.data_validation_config
print(data_validation_config_info)

{'data_validation_dir': 'stage02_data_validation', 'report_dir': 'data_drift_report', 'validated_test_file': 'validated_test.pkl', 'validated_train_file': 'validated_train.pkl'}

In [47]:
validated_train_file_name = data_validation_config_info.validated_train_file

In [49]:
data_validated_artifact_dir = Path(os.path.join(artifact_dir,data_validation_config_info.data_validation_dir))
print(data_validated_artifact_dir)

c:\project\credit_card_fault\artifact\stage02_data_validation

In [55]:
validated_train_file_path = os.path.join(data_validated_artifact_dir, validated_train_file_name)
print(validated_train_file_path)

c:\project\credit_card_fault\artifact\stage02_data_validation\validated_train.pkl

In [ ]:
report_file_dir = os.path.join(data_validated_artifact_dir, data_validation_config_info.report_dir)

In [ ]:
print(report_file_dir)

c:\project\credit_card_fault\artifact\stage02_data_validation\data_drift_report

In [ ]:
from evidently.report import Report
from evidently.metric_preset import (
    DataDriftPreset,
    DataQualityPreset,
)
from evidently.metrics import *

from evidently.test_suite import TestSuite

from evidently.tests import *
from box import ConfigBox

In [ ]:
from creditcard.entity.artifact_entity import *

In [ ]:
data_ingestion_artifact = DataIngestionArtifact

In [52]:
import pandas as pd

In [58]:
train_df = pd.read_csv(r'C:\project\credit_card_fault\artifact\Stage00_data_ingestion\ingested_data\train.csv')

In [ ]:
train_df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,6637,80000.0,2,3,1,41,2,2,2,2,...,61129.0,62348.0,61193.0,0.0,5000.0,2400.0,2341.0,0.0,2439.0,1
1,29302,50000.0,1,1,2,25,0,0,0,2,...,48174.0,48731.0,49655.0,4000.0,4000.0,2000.0,2000.0,2200.0,1700.0,0
2,2164,20000.0,1,1,2,30,0,0,2,0,...,19391.0,19120.0,19158.0,6500.0,84.0,7171.0,1000.0,1000.0,2000.0,0
3,6442,70000.0,2,2,2,24,0,0,0,0,...,64457.0,66021.0,67267.0,3167.0,2521.0,2400.0,2600.0,2614.0,2376.0,0
4,23135,210000.0,2,3,1,41,0,0,-1,-1,...,-649.0,-649.0,-649.0,2000.0,17864.0,569.0,0.0,0.0,1000.0,0

In [ ]:
test_df = pd.read_csv(r'C:\project\credit_card_fault\artifact\Stage00_data_ingestion\ingested_data\test.csv')

In [ ]:
train_df.rename(
                columns={"default.payment.next.month": "default"}, inplace=True
            )
test_df.rename(
                columns={"default.payment.next.month": "default"}, inplace=True
            )

In [ ]:
data_validation_config = DataValidationConfig

In [ ]:
print(data_validation_config)

<class 'creditcard.entity.config_entity.DataValidationConfig'>

In [ ]:
schema_config = read_yaml(path_to_yaml=Path(SCHEMA_FILE_PATH))

2023-04-23 19:57:23.791 | INFO     | creditcard.utils.common:read_yaml:34 - yaml file: c:\project\credit_card_fault\configs\schema.yaml loaded successfully

In [ ]:
schema_dict = schema_config.columns

In [ ]:
print(schema_dict)

{'AGE': 'int', 'BILL_AMT1': 'int', 'BILL_AMT2': 'int', 'BILL_AMT3': 'int', 'BILL_AMT4': 'int', 'BILL_AMT5': 'int', 'BILL_AMT6': 'int', 'EDUCATION': 'int', 'ID': 'int', 'LIMIT_BAL': 'int', 'MARRIAGE': 'int', 'PAY_0': 'int', 'PAY_2': 'int', 'PAY_3': 'int', 'PAY_4': 'int', 'PAY_5': 'int', 'PAY_6': 'int', 'PAY_AMT1': 'int', 'PAY_AMT2': 'int', 'PAY_AMT3': 'int', 'PAY_AMT4': 'int', 'PAY_AMT5': 'int', 'PAY_AMT6': 'int', 'SEX': 'int', 'default': 'int'}

In [ ]:
for column, data_type in schema_dict.items():
    train_df[column].astype(data_type)
    test_df[column].astype(data_type)

In [53]:
reference_train = pd.read_pickle(validated_train_file_path)

In [57]:
def check_data_to_insert(new_data: pd.DataFrame, reference_data: pd.DataFrame, key: str) -> pd.DataFrame:
        """ check two data frame with the key and return the data to insert
        Args:
            new_data (pandas.DataFrame): _description_
            reference_data (pandas.DataFrame): _description_
            key (str):  unique key to check
        Returns:
            pandas.DataFrame:  the data to insert
        """
        data_to_insert = None
        key_list = reference_data[key].to_list()
        index_to_insert = new_data[key].isin(key_list)
        print(index_to_insert.sum())
        print(new_data.shape)
        if index_to_insert.sum() < new_data.shape[0]:
            data_to_insert = new_data[~index_to_insert]

        return data_to_insert

In [59]:
train_to_insert = check_data_to_insert(new_data=train_df, reference_data=reference_train,
                                                                key="ID")

24000
(24000, 25)

In [65]:
key_list = reference_train["ID"].to_list()

In [66]:
new_data = train_df

In [69]:
new_data["ID"].isin(key_list)

0        True
1        True
2        True
3        True
4        True
         ...
23995    True
23996    True
23997    True
23998    True
23999    True
Name: ID, Length: 24000, dtype: bool

In [70]:
index_to_insert = new_data["ID"].isin(key_list)

In [71]:
index_to_insert.sum()

24000

In [73]:
new_data.shape[0]

24000

In [74]:
if index_to_insert.sum() < new_data.shape[0]:
            data_to_insert = new_data[~index_to_insert]

In [75]:
new_data[index_to_insert]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,6637,80000.0,2,3,1,41,2,2,2,2,...,61129.0,62348.0,61193.0,0.0,5000.0,2400.0,2341.0,0.0,2439.0,1
1,29302,50000.0,1,1,2,25,0,0,0,2,...,48174.0,48731.0,49655.0,4000.0,4000.0,2000.0,2000.0,2200.0,1700.0,0
2,2164,20000.0,1,1,2,30,0,0,2,0,...,19391.0,19120.0,19158.0,6500.0,84.0,7171.0,1000.0,1000.0,2000.0,0
3,6442,70000.0,2,2,2,24,0,0,0,0,...,64457.0,66021.0,67267.0,3167.0,2521.0,2400.0,2600.0,2614.0,2376.0,0
4,23135,210000.0,2,3,1,41,0,0,-1,-1,...,-649.0,-649.0,-649.0,2000.0,17864.0,569.0,0.0,0.0,1000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,854,140000.0,2,2,2,23,0,0,0,0,...,43455.0,43980.0,44614.0,2100.0,2027.0,1800.0,1600.0,1750.0,1700.0,0
23996,25278,170000.0,2,1,2,27,-1,0,0,0,...,38330.0,39602.0,39922.0,1650.0,4500.0,4000.0,4000.0,3000.0,3000.0,0
23997,6002,500000.0,2,1,2,37,-1,-1,-1,-1,...,0.0,1450.0,2668.0,1625.0,517.0,0.0,1450.0,2668.0,1480.0,0
23998,21747,20000.0,2,1,2,24,0,0,2,-1,...,6572.0,5016.0,2508.0,2778.0,0.0,6572.0,5016.0,0.0,0.0,0
23999,13128,100000.0,2,1,2,32,1,-1,-1,0,...,325.0,647.0,7706.0,650.0,650.0,0.0,647.0,7706.0,1679.0,1