In [1]:
import os
import sys
from pathlib import Path

In [2]:
os.chdir("..")
os.getcwd()

'c:\\project\\credit_card_fault'

In [3]:
ROOT_DIR = os.getcwd()  # to get current working directory

# config constants
CONFIG_DIR = os.path.join(ROOT_DIR, "configs")
CONFIG_FILE_NAME = "config.yaml"
CONFIG_FILE_PATH = os.path.join(CONFIG_DIR, CONFIG_FILE_NAME)
print(CONFIG_FILE_PATH)

c:\project\credit_card_fault\configs\config.yaml

In [32]:
SCHEMA_FILE_NAME = "schema.yaml"
SCHEMA_FILE_PATH = os.path.join(CONFIG_DIR,SCHEMA_FILE_NAME)
print(SCHEMA_FILE_PATH)

c:\project\credit_card_fault\configs\schema.yaml

In [4]:
from creditcard.logger import *

In [5]:
# the kernel u were using base

In [6]:
#try now ok
from creditcard.entity import *

In [7]:
from creditcard.utils import read_yaml,create_directories

In [8]:
from creditcard.config import *

In [9]:
config_info = read_yaml(path_to_yaml=Path(CONFIG_FILE_PATH))

2023-04-23 19:38:20.356 | INFO     | creditcard.utils.common:read_yaml:34 - yaml file: configs\config.yaml loaded successfully

In [10]:
pipeline_config = config_info.training_pipeline_config
print(pipeline_config)

{'artifact_dir': 'artifact', 'experiment_code': 'Development', 'pipeline_name': 'CreditCard', 'random_state': 1961}

In [11]:
artifact_dir = os.path.join(ROOT_DIR,pipeline_config.artifact_dir)

In [12]:
print(artifact_dir)

c:\project\credit_card_fault\artifact

In [13]:
experiment_code = os.path.join(ROOT_DIR,pipeline_config.experiment_code)
print(experiment_code)

c:\project\credit_card_fault\Development

In [ ]:
data_validation_config_info = config_info.data_validation_config
print(data_validation_config_info)

{'data_validation_dir': 'stage02_data_validation', 'report_dir': 'data_drift_report', 'validated_test_file': 'validated_test.pkl', 'validated_train_file': 'validated_train.pkl'}

In [ ]:
data_validated_artifact_dir = Path(os.path.join(artifact_dir,data_validation_config_info.data_validation_dir))
print(data_validated_artifact_dir)

c:\project\credit_card_fault\artifact\stage02_data_validation

In [ ]:
report_file_dir = os.path.join(data_validated_artifact_dir, data_validation_config_info.report_dir)

In [ ]:
print(report_file_dir)

c:\project\credit_card_fault\artifact\stage02_data_validation\data_drift_report

In [15]:
from evidently.report import Report
from evidently.metric_preset import (
    DataDriftPreset,
    DataQualityPreset,
)
from evidently.metrics import *

from evidently.test_suite import TestSuite

from evidently.tests import *
from box import ConfigBox

In [16]:
from creditcard.entity.artifact_entity import *

In [17]:
data_ingestion_artifact = DataIngestionArtifact

In [18]:
import pandas as pd

In [21]:
train_df = pd.read_csv(r'C:\project\credit_card_fault\artifact\Stage00_data_ingestion\ingested_data\train.csv')

In [22]:
train_df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,6637,80000.0,2,3,1,41,2,2,2,2,...,61129.0,62348.0,61193.0,0.0,5000.0,2400.0,2341.0,0.0,2439.0,1
1,29302,50000.0,1,1,2,25,0,0,0,2,...,48174.0,48731.0,49655.0,4000.0,4000.0,2000.0,2000.0,2200.0,1700.0,0
2,2164,20000.0,1,1,2,30,0,0,2,0,...,19391.0,19120.0,19158.0,6500.0,84.0,7171.0,1000.0,1000.0,2000.0,0
3,6442,70000.0,2,2,2,24,0,0,0,0,...,64457.0,66021.0,67267.0,3167.0,2521.0,2400.0,2600.0,2614.0,2376.0,0
4,23135,210000.0,2,3,1,41,0,0,-1,-1,...,-649.0,-649.0,-649.0,2000.0,17864.0,569.0,0.0,0.0,1000.0,0

In [23]:
test_df = pd.read_csv(r'C:\project\credit_card_fault\artifact\Stage00_data_ingestion\ingested_data\test.csv')

In [24]:
train_df.rename(
                columns={"default.payment.next.month": "default"}, inplace=True
            )
test_df.rename(
                columns={"default.payment.next.month": "default"}, inplace=True
            )

In [25]:
data_validation_config = DataValidationConfig

In [26]:
print(data_validation_config)

<class 'creditcard.entity.config_entity.DataValidationConfig'>

In [34]:
schema_config = read_yaml(path_to_yaml=Path(SCHEMA_FILE_PATH))

2023-04-23 19:57:23.791 | INFO     | creditcard.utils.common:read_yaml:34 - yaml file: c:\project\credit_card_fault\configs\schema.yaml loaded successfully

In [35]:
schema_dict = schema_config.columns

In [36]:
print(schema_dict)

{'AGE': 'int', 'BILL_AMT1': 'int', 'BILL_AMT2': 'int', 'BILL_AMT3': 'int', 'BILL_AMT4': 'int', 'BILL_AMT5': 'int', 'BILL_AMT6': 'int', 'EDUCATION': 'int', 'ID': 'int', 'LIMIT_BAL': 'int', 'MARRIAGE': 'int', 'PAY_0': 'int', 'PAY_2': 'int', 'PAY_3': 'int', 'PAY_4': 'int', 'PAY_5': 'int', 'PAY_6': 'int', 'PAY_AMT1': 'int', 'PAY_AMT2': 'int', 'PAY_AMT3': 'int', 'PAY_AMT4': 'int', 'PAY_AMT5': 'int', 'PAY_AMT6': 'int', 'SEX': 'int', 'default': 'int'}

In [37]:
for column, data_type in schema_dict.items():
    train_df[column].astype(data_type)
    test_df[column].astype(data_type)